Repository tikv/client-java, changes with the labels that .github/labeler.yml gives for each.
All labels: component/config, component/br, component/cdc, component/common, component/rawkv, component/txnkv

.github/labeler.yml:

component/config:
  - config/*

component/br:
  - src/main/java/org/tikv/br/*

component/cdc:
  - src/main/java/org/tikv/cdc/*

component/common:
  - src/main/java/org/tikv/common/*

component/rawkv:
  - src/main/java/org/tikv/raw/*

component/txnkv:
  - src/main/java/org/tikv/txn/*

[fix #389] move CircuitBreaker to TiSession
  src/main/java/org/tikv/common/TiSession.java
  src/main/java/org/tikv/raw/SmartRawKVClient.java
  src/test/java/org/tikv/raw/SmartRawKVClientTest.java
Labels: component/common, component/rawkv

[fix #389] move CircuitBreaker to TiSession (#390)
  src/main/java/org/tikv/common/TiSession.java
  src/main/java/org/tikv/raw/SmartRawKVClient.java
  src/test/java/org/tikv/raw/SmartRawKVClientTest.java
Labels: component/common, component/rawkv

cherry pick #390 to release-3.1
  src/main/java/org/tikv/common/TiSession.java
  src/main/java/org/tikv/raw/SmartRawKVClient.java
  src/test/java/org/tikv/raw/SmartRawKVClientTest.java
Labels: component/common, component/rawkv

resolve conflicts
  src/main/java/org/tikv/common/TiSession.java
Labels: component/common

update pom version to 3.1.11-SNAPSHOT
  pom.xml
Labels: none

update pom version to 3.1.11-SNAPSHOT (#392)
  pom.xml
Labels: none

remote throws InterruptedException
  src/test/java/org/tikv/raw/SmartRawKVClientTest.java
Labels: none

fix test
  src/main/java/org/tikv/common/ConfigUtils.java
  src/test/java/org/tikv/raw/SmartRawKVClientTest.java
Labels: component/common

fix SmartRawKVClient close
  src/main/java/org/tikv/common/TiSession.java
  src/main/java/org/tikv/raw/SmartRawKVClient.java
Labels: component/common, component/rawkv

[fix #389] move CircuitBreaker to TiSession (#390) (#391)
  src/main/java/org/tikv/common/ConfigUtils.java
  src/main/java/org/tikv/common/TiSession.java
  src/main/java/org/tikv/raw/SmartRawKVClient.java
  src/test/java/org/tikv/raw/SmartRawKVClientTest.java
Labels: component/common, component/rawkv

fix SmartRawKVClient close (#393)
  src/main/java/org/tikv/common/TiSession.java
  src/main/java/org/tikv/raw/SmartRawKVClient.java
Labels: component/common, component/rawkv

cherry pick #393 to release-3.1
  src/main/java/org/tikv/common/TiSession.java
  src/main/java/org/tikv/raw/SmartRawKVClient.java
Labels: component/common, component/rawkv

fix test
  src/main/java/org/tikv/raw/SmartRawKVClient.java
Labels: component/rawkv

fix SmartRawKVClient close (#393) (#394)
  src/main/java/org/tikv/common/TiSession.java
  src/main/java/org/tikv/raw/SmartRawKVClient.java
Labels: component/common, component/rawkv

release-3.1.11
  pom.xml
Labels: none

remove unnecessary changes
  docs/README.md
  docs/book.toml
  docs/configuration.md
  docs/monitoring.md
  docs/src/SUMMARY.md
  docs/src/administration/introduction.md
  docs/src/architecture/availability.md
  docs/src/architecture/introduction.md
  docs/src/architecture/observability.md
  docs/src/architecture/region-cache.md
  docs/src/architecture/request-lifecycle.md
  docs/src/examples/bulk-load.md
  docs/src/examples/introduction.md
  docs/src/examples/quick-start.md
  docs/src/examples/rawkv.md
  docs/src/examples/txnkv.md
  docs/src/performance/introduction.md
  docs/src/performance/ycsb.md
  docs/src/troubleshooting/error-request.md
  docs/src/troubleshooting/introduction.md
  docs/src/troubleshooting/slow-request.md
Labels: none

update pom version to 3.1.12-SNAPSHOT
  pom.xml
Labels: none

update pom version to 3.1.12-SNAPSHOT (#395)
  pom.xml
Labels: none

format
  src/main/java/org/tikv/common/TiSession.java
Labels: component/common

add grafana metrics for circuit break
  metrics/grafana/client_java_summary.json
Labels: none
