Repository tikv/client-java, pull requests merged in 2021-12, with the labels that each got.

#352 check timeout during SeekLeader and SeekProxy
  src/main/java/org/tikv/common/operation/RegionErrorHandler.java
  src/main/java/org/tikv/common/policy/RetryPolicy.java
  src/main/java/org/tikv/common/region/AbstractRegionStoreClient.java
  src/main/java/org/tikv/common/region/RegionErrorReceiver.java
  src/main/java/org/tikv/common/region/RegionManager.java
  src/main/java/org/tikv/common/util/BackOffFunction.java
  src/main/java/org/tikv/common/util/BackOffer.java
  src/main/java/org/tikv/common/util/ConcreteBackOffer.java
  src/test/java/org/tikv/raw/RawKVClientTest.java
Labels: status/LGT2, status/can-merge

#354 add the labeler github action (#347)
  .github/labeler.yml
  .github/pr-branch-labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-branch-labeler.yml
Labels: status/LGT1, status/can-merge

#361 log SlowLog if error occures
  src/main/java/org/tikv/common/log/SlowLog.java
  src/main/java/org/tikv/common/log/SlowLogEmptyImpl.java
  src/main/java/org/tikv/common/log/SlowLogImpl.java
  src/main/java/org/tikv/raw/RawKVClient.java
Labels: needs-cherry-pick-3.1, status/LGT2, component/rawkv

#359 Fix NullPointerException in getStore
  src/main/java/org/tikv/common/PDClient.java
  src/main/java/org/tikv/common/region/StoreHealthyChecker.java
Labels: needs-cherry-pick-3.1, status/LGT2, status/can-merge, component/common

#366 fix seekLeaderStore NPE
  src/main/java/org/tikv/common/region/AbstractRegionStoreClient.java
Labels: needs-cherry-pick-3.1, status/LGT2

#358 [close #372] add circuit breaker and smart rawkv client
  src/main/java/org/tikv/common/ConfigUtils.java
  src/main/java/org/tikv/common/TiConfiguration.java
  src/main/java/org/tikv/common/TiSession.java
  src/main/java/org/tikv/common/exception/CircuitBreakerOpenException.java
  src/main/java/org/tikv/raw/RawKVClient.java
  src/main/java/org/tikv/raw/RawKVClientBase.java
  src/main/java/org/tikv/raw/SmartRawKVClient.java
  src/main/java/org/tikv/service/failsafe/CircuitBreaker.java
  src/main/java/org/tikv/service/failsafe/CircuitBreakerImpl.java
  src/main/java/org/tikv/service/failsafe/CircuitBreakerMetrics.java
  src/main/java/org/tikv/service/failsafe/CircuitBreakerMetricsImpl.java
  src/main/java/org/tikv/service/failsafe/HealthCounts.java
  src/main/java/org/tikv/service/failsafe/MetricsListener.java
  src/main/java/org/tikv/service/failsafe/NoOpCircuitBreakerMetrics.java
  src/test/java/org/tikv/raw/CASTest.java
  src/test/java/org/tikv/raw/SmartRawKVClientTest.java
  src/test/java/org/tikv/service/failsafe/CircuitBreakerMetricsTest.java
  src/test/java/org/tikv/service/failsafe/CircuitBreakerTest.java
Labels: needs-cherry-pick-3.1, status/LGT2, component/common, component/rawkv

#355 add Makeflie to simplify build/test/format tasks (#346)
  Makefile
Labels: status/LGT2

#376 [close #375] warm up SmartRawKVClient while creating it
  src/main/java/org/tikv/raw/SmartRawKVClient.java
Labels: status/LGT2, component/rawkv

#367 [close #375] warm up RawKVClient while creating it
  src/main/java/org/tikv/common/TiSession.java
  src/main/java/org/tikv/common/region/RegionCache.java
  src/main/java/org/tikv/common/region/RegionManager.java
  src/main/java/org/tikv/raw/SmartRawKVClient.java
Labels: needs-cherry-pick-3.1, status/LGT2, status/can-merge, component/common, component/rawkv

#379 [close #380] make gRPC idle timeout configurable
  src/main/java/org/tikv/common/ConfigUtils.java
  src/main/java/org/tikv/common/TiConfiguration.java
  src/main/java/org/tikv/common/TiSession.java
  src/main/java/org/tikv/common/util/ChannelFactory.java
  src/test/java/org/tikv/common/TiConfigurationTest.java
Labels: needs-cherry-pick-3.1, status/can-merge, component/common, status/LGT3

#369 [close #370] make gRPC and TiKV health check configurable
  src/main/java/org/tikv/common/TiConfiguration.java
  src/test/java/org/tikv/common/TiConfigurationTest.java
Labels: needs-cherry-pick-3.1, status/LGT2, status/can-merge, component/common

#390 [fix #389] move CircuitBreaker to TiSession
  src/main/java/org/tikv/common/TiSession.java
  src/main/java/org/tikv/raw/SmartRawKVClient.java
  src/test/java/org/tikv/raw/SmartRawKVClientTest.java
Labels: needs-cherry-pick-3.1, status/LGT2, component/common, component/rawkv

#393 fix SmartRawKVClient close
  src/main/java/org/tikv/common/TiSession.java
  src/main/java/org/tikv/raw/SmartRawKVClient.java
Labels: needs-cherry-pick-3.1, status/LGT1, component/common, component/rawkv

#398 [close #399] add grafana metrics for circuit break
  metrics/grafana/client_java_summary.json
Labels: needs-cherry-pick-3.1, status/LGT1

#360 [to #348] refine content in README
  README.md
  docs/README.md
  docs/configuration.md
  docs/dev-guide.md
  docs/monitoring.md
Labels: status/LGT1

#406 [close #405] update PR and issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: status/LGT2, status/can-merge

#407 [to #348] use mdbook and github action to maintain documents
  .github/workflows/gh-pages.yml
  docs/README.md
  docs/book.toml
  docs/src/SUMMARY.md
  docs/src/administration/configuration.md
  docs/src/administration/introduction.md
  docs/src/administration/monitoring.md
  docs/src/architecture/availability.md
  docs/src/architecture/introduction.md
  docs/src/architecture/observability.md
  docs/src/architecture/region-cache.md
  docs/src/architecture/request-lifecycle.md
  docs/src/contribution/introduction.md
  docs/src/examples/bulk-load.md
  docs/src/examples/introduction.md
  docs/src/examples/quick-start.md
  docs/src/examples/rawkv.md
  docs/src/examples/txnkv.md
  docs/src/performance/introduction.md
  docs/src/performance/ycsb.md
  docs/src/troubleshooting/error-request.md
  docs/src/troubleshooting/introduction.md
  docs/src/troubleshooting/slow-request.md
Labels: status/LGT2, status/can-merge

#401 [close #385] Adding JKS support for TLS
  src/main/java/org/tikv/common/ConfigUtils.java
  src/main/java/org/tikv/common/TiConfiguration.java
  src/main/java/org/tikv/common/TiSession.java
  src/main/java/org/tikv/common/util/ChannelFactory.java
  src/test/java/org/tikv/common/TiConfigurationTest.java
Labels: status/LGT2, status/can-merge, component/common

#409 [to #348] fix gh-pages can not deploy rendered documents
  .github/workflows/gh-pages.yml
Labels: status/LGT1

#414 [close #388] remove the pr branch labeler action
  .github/pr-branch-labeler.yml
  .github/workflows/pr-branch-labeler.yml
Labels: needs-cherry-pick-3.1, status/LGT1

#402 [close #404] use System.nanoTime() to calculate duration, cause System.currentTimeMillis() is not monotonic
  src/main/java/org/tikv/common/log/SlowLogImpl.java
  src/main/java/org/tikv/common/log/SlowLogSpanImpl.java
Labels: needs-cherry-pick-3.1, status/LGT2, status/can-merge

#408 [close #397] add git commit hash and version info while TiSession create
  pom.xml
  src/main/java/org/tikv/common/TiSession.java
Labels: status/LGT2, status/can-merge, component/common

#428 [to #348] add introduction for the whole document
  docs/src/SUMMARY.md
  docs/src/introduction/introduction.md
Labels: status/LGT1, status/can-merge

#429 [close #425] make test stable
  .ci/integration_test.groovy
  .ci/test.sh
  config/tidb.toml
  config/tikv_rawkv.toml
  config/tikv_txnkv.toml
  src/main/java/org/tikv/common/TiConfiguration.java
  src/test/java/org/tikv/BaseRawKVTest.java
  src/test/java/org/tikv/BaseTxnKVTest.java
  src/test/java/org/tikv/common/TiConfigurationTest.java
  src/test/java/org/tikv/common/TiSessionTest.java
  src/test/java/org/tikv/raw/MetricsTest.java
  src/test/java/org/tikv/raw/RawKVClientTest.java
  src/test/java/org/tikv/raw/SmartRawKVClientTest.java
  src/test/java/org/tikv/txn/ReplicaReadTest.java
  src/test/java/org/tikv/txn/TXNTest.java
  src/test/java/org/tikv/util/TestUtils.java
Labels: status/LGT2, component/common, component/config

#383 [to #375] use scanRegions request to warm up client
  src/main/java/org/tikv/common/ConfigUtils.java
  src/main/java/org/tikv/common/PDClient.java
  src/main/java/org/tikv/common/ReadOnlyPDClient.java
  src/main/java/org/tikv/common/TiConfiguration.java
  src/main/java/org/tikv/common/TiSession.java
  src/main/java/org/tikv/common/region/RegionManager.java
  src/test/java/org/tikv/BaseRawKVTest.java
  src/test/java/org/tikv/common/TiSessionTest.java
Labels: needs-cherry-pick-3.1, status/LGT2, status/can-merge, component/common

#434 [close #433] fix calling getStoreById without backoffer
  src/main/java/org/tikv/common/TiSession.java
  src/main/java/org/tikv/common/operation/RegionErrorHandler.java
  src/main/java/org/tikv/common/region/AbstractRegionStoreClient.java
  src/main/java/org/tikv/common/region/RegionErrorReceiver.java
  src/main/java/org/tikv/common/region/RegionStoreClient.java
  src/main/java/org/tikv/common/util/ConcreteBackOffer.java
  src/test/java/org/tikv/BaseRawKVTest.java
Labels: needs-cherry-pick-3.1, status/LGT2, component/common

#443 [fix #433] fix slowlog in ConcreteBackOffer
  src/main/java/org/tikv/common/util/ConcreteBackOffer.java
Labels: needs-cherry-pick-3.1, status/LGT2

#445 [close #446] Fix Optional fields type
  src/main/java/org/tikv/common/TiConfiguration.java
  src/test/java/org/tikv/common/TiConfigurationTest.java
Labels: needs-cherry-pick-3.1, status/LGT2, status/can-merge, component/common

#447 [to #348] Add javadoc
  .github/workflows/gh-pages.yml
  .gitignore
  README.md
  src/main/java/org/tikv/common/expression/visitor/PartAndFilterExprRewriter.java
  src/main/java/org/tikv/common/importer/ImporterStoreClient.java
  src/main/java/org/tikv/common/types/DataType.java
  src/main/java/org/tikv/common/util/RangeSplitter.java
  src/main/java/org/tikv/txn/TwoPhaseCommitter.java
  src/main/java/org/tikv/txn/TxnStatus.java
Labels: status/LGT2, status/can-merge, component/txnkv

#451 [close #446] Fix Optional fields type (#445)
  src/main/java/org/tikv/common/TiConfiguration.java
  src/test/java/org/tikv/common/TiConfigurationTest.java
Labels: status/LGT2, status/can-merge, component/common

#450 [to #427] set autoReleaseAfterClose to true
  pom.xml
Labels: needs-cherry-pick-3.1, status/LGT2

#441 [close #419] upgrade kvproto to fix rawBatchPut compatibility
  scripts/proto.sh
  src/main/java/org/tikv/common/region/RegionStoreClient.java
Labels: status/LGT2, status/can-merge
