Repository tikv/client-java, pull requests merged in 2021-07, with the labels that each got.

#228 Refactor Region Cache to reduce lock
  src/main/java/org/tikv/common/ConfigUtils.java
  src/main/java/org/tikv/common/PDClient.java
  src/main/java/org/tikv/common/operation/RegionErrorHandler.java
  src/main/java/org/tikv/common/policy/RetryPolicy.java
  src/main/java/org/tikv/common/region/AbstractRegionStoreClient.java
  src/main/java/org/tikv/common/region/RegionManager.java
  src/main/java/org/tikv/common/util/ConcreteBackOffer.java
Labels: needs-cherry-pick-3.1, status/LGT1, status/can-merge

#232 Try other peer when current leader of this region is not available.
  src/main/java/org/tikv/common/AbstractGRPCClient.java
  src/main/java/org/tikv/common/PDClient.java
  src/main/java/org/tikv/common/operation/KVErrorHandler.java
  src/main/java/org/tikv/common/operation/RegionErrorHandler.java
  src/main/java/org/tikv/common/region/AbstractRegionStoreClient.java
  src/main/java/org/tikv/common/region/RegionCache.java
  src/main/java/org/tikv/common/region/RegionErrorReceiver.java
  src/main/java/org/tikv/common/region/RegionManager.java
  src/main/java/org/tikv/common/region/RegionStoreClient.java
  src/main/java/org/tikv/common/region/StoreHealthyChecker.java
  src/main/java/org/tikv/common/region/TiRegion.java
  src/main/java/org/tikv/common/region/TiStore.java
  src/main/java/org/tikv/common/region/UnreachableStoreChecker.java
  src/main/java/org/tikv/common/util/ConcreteBackOffer.java
Labels: needs-cherry-pick-3.1, status/LGT1

#235 fix test
  src/main/java/org/tikv/common/ConfigUtils.java
  src/main/java/org/tikv/common/TiConfiguration.java
  src/main/java/org/tikv/common/TiSession.java
  src/main/java/org/tikv/common/region/AbstractRegionStoreClient.java
  src/main/java/org/tikv/common/region/RegionManager.java
  src/main/java/org/tikv/common/region/StoreHealthyChecker.java
  src/test/java/org/tikv/common/RegionManagerTest.java
Labels: status/LGT1, status/can-merge

#236 Optimize grpc-forward strategy
  src/main/java/org/tikv/common/ConfigUtils.java
  src/main/java/org/tikv/common/TiConfiguration.java
  src/main/java/org/tikv/common/TiSession.java
  src/main/java/org/tikv/common/region/AbstractRegionStoreClient.java
  src/main/java/org/tikv/common/region/RegionManager.java
  src/main/java/org/tikv/common/region/StoreHealthyChecker.java
Labels: status/LGT1, status/can-merge

#233 RawKV support SST Ingest using KVStream interface
  .ci/integration_test.groovy
  README.md
  scripts/proto.sh
  src/main/java/org/tikv/common/ConfigUtils.java
  src/main/java/org/tikv/common/PDClient.java
  src/main/java/org/tikv/common/TiConfiguration.java
  src/main/java/org/tikv/common/TiSession.java
  src/main/java/org/tikv/common/importer/ImporterClient.java
  src/main/java/org/tikv/common/importer/ImporterStoreClient.java
  src/main/java/org/tikv/common/importer/SwitchTiKVModeClient.java
  src/main/java/org/tikv/common/region/RegionCache.java
  src/main/java/org/tikv/common/region/RegionManager.java
  src/main/java/org/tikv/common/region/RegionStoreClient.java
  src/main/java/org/tikv/common/region/TiRegion.java
  src/main/java/org/tikv/common/util/BackOffer.java
  src/main/java/org/tikv/common/util/ClientUtils.java
  src/main/java/org/tikv/raw/RawKVClient.java
  src/test/java/org/tikv/common/importer/RawKVIngestTest.java
  src/test/java/org/tikv/common/importer/RegionSplitTest.java
  src/test/java/org/tikv/common/importer/SwitchTiKVModeTest.java
  src/test/java/org/tikv/util/TestUtils.java
Labels: status/LGT2

#241 fix backoff time
  src/main/java/org/tikv/common/operation/RegionErrorHandler.java
  src/main/java/org/tikv/common/region/AbstractRegionStoreClient.java
  src/main/java/org/tikv/common/util/ConcreteBackOffer.java
Labels: needs-cherry-pick-3.1, status/LGT1

#238 TiSession support graceful close
  src/main/java/org/tikv/common/TiSession.java
  src/test/java/org/tikv/common/TiSessionTest.java
Labels: needs-cherry-pick-3.1, status/LGT1

#244 TiSession support graceful close (#238)
  src/main/java/org/tikv/common/TiSession.java
  src/test/java/org/tikv/common/TiSessionTest.java
Labels: type/3.1-cherry-pick

#239 shade jackson
  pom.xml
Labels: status/LGT1, status/can-merge

#240 refactor TiSession.getSwitchTiKVModeClient
  src/main/java/org/tikv/common/TiSession.java
Labels: status/LGT1
