Repository tikv/client-java, pull requests merged in 2021-11, with the labels that each got.

#303 update version to 3.1.5-SNAPSHOT
  pom.xml
Labels: status/LGT1

#305 fix Region Exception occurred EpochNotMatch
  src/main/java/org/tikv/common/operation/RegionErrorHandler.java
  src/main/java/org/tikv/common/region/RegionCache.java
  src/main/java/org/tikv/common/region/RegionManager.java
  src/main/java/org/tikv/common/region/TiRegion.java
Labels: status/LGT1

#307 remove log for EpochNotMatch
  src/main/java/org/tikv/common/operation/RegionErrorHandler.java
Labels: status/LGT1

#308 Add metrics for callWithRetry & doBackOff
  src/main/java/org/tikv/common/policy/RetryPolicy.java
  src/main/java/org/tikv/common/util/ConcreteBackOffer.java
Labels: status/LGT1, status/can-merge

#309 update initCluster log level to error
  src/main/java/org/tikv/common/PDClient.java
Labels: status/LGT1, status/can-merge

#312 Update version to 3.1.6-SNAPSHOT
  pom.xml
Labels: status/LGT1, status/can-merge

#311 fix backoff error when using grpc forward
  src/main/java/org/tikv/common/operation/RegionErrorHandler.java
  src/main/java/org/tikv/common/region/AbstractRegionStoreClient.java
  src/main/java/org/tikv/common/util/BackOffer.java
  src/main/java/org/tikv/common/util/ConcreteBackOffer.java
Labels: status/LGT2

#314 shuffle PD addresses so that clients call getMembers from different PD
  src/main/java/org/tikv/common/PDClient.java
Labels: status/LGT1

#316 Fix gRPC forward bug when store is unreachable
  src/main/java/org/tikv/common/ConfigUtils.java
  src/main/java/org/tikv/common/region/AbstractRegionStoreClient.java
Labels: status/LGT1

#319 update pom version to 3.1.7-SNAPSHOT
  pom.xml
Labels: status/LGT1

#318 Update gRPC version to 1.41.0
  pom.xml
  src/main/java/org/tikv/common/util/ChannelFactory.java
Labels: status/LGT1

#320 Update jackson databind version to 2.10.5.1
  pom.xml
Labels: status/LGT1

#323 update pom version to 3.1.8-SNAPSHOT
  pom.xml
Labels: status/LGT1

#322 metrics: enrich grafana panel
  metrics/grafana/client_java_summary.json
Labels: needs-cherry-pick-3.1, status/LGT2

#327 add log for init TiSession
  src/main/java/org/tikv/common/PDClient.java
Labels: status/LGT1

#330 Fix typo in error message
  src/main/java/org/tikv/common/region/RegionStoreClient.java
Labels: status/LGT1

#331 update error log
  src/main/java/org/tikv/common/PDClient.java
Labels: status/LGT2

#324 Optimize grpc forward and switch leader logic
  src/main/java/org/tikv/common/AbstractGRPCClient.java
  src/main/java/org/tikv/common/PDClient.java
  src/main/java/org/tikv/common/TiConfiguration.java
  src/main/java/org/tikv/common/operation/KVErrorHandler.java
  src/main/java/org/tikv/common/operation/RegionErrorHandler.java
  src/main/java/org/tikv/common/region/AbstractRegionStoreClient.java
  src/main/java/org/tikv/common/region/RegionErrorReceiver.java
  src/main/java/org/tikv/common/region/RegionStoreClient.java
  src/main/java/org/tikv/common/region/StoreHealthyChecker.java
  src/main/java/org/tikv/common/region/TiRegion.java
  src/main/java/org/tikv/common/region/TiStore.java
  src/main/java/org/tikv/common/util/ConcreteBackOffer.java
  src/main/java/org/tikv/txn/AbstractLockResolverClient.java
  src/main/java/org/tikv/txn/LockResolverClientV2.java
  src/main/java/org/tikv/txn/LockResolverClientV3.java
  src/main/java/org/tikv/txn/LockResolverClientV4.java
Labels: status/LGT2, status/can-merge

#332 Use default exporter to register all metrics
  src/main/java/org/tikv/common/MetricsServer.java
Labels: status/LGT1, status/can-merge

#336 update pom version to 3.1.9-SNAPSHOT
  pom.xml
Labels: status/LGT1

#334 TwoPhaseCommiter log should be debug level
  src/main/java/org/tikv/txn/TwoPhaseCommitter.java
Labels: status/LGT2, status/can-merge

#335 Optimize seek leader store logic
  src/main/java/org/tikv/common/region/AbstractRegionStoreClient.java
Labels: status/LGT1, status/can-merge

#337 Fix pd request throws invalid store id
  src/main/java/org/tikv/common/exception/InvalidStoreException.java
  src/main/java/org/tikv/common/operation/PDErrorHandler.java
  src/main/java/org/tikv/common/region/RegionManager.java
  src/main/java/org/tikv/raw/RawKVClient.java
  src/test/java/org/tikv/common/RegionManagerTest.java
Labels: status/LGT2, status/can-merge

#339 update grafana
  metrics/grafana/client_java_summary.json
Labels: status/LGT1

#340 Fix typo in error message
  src/main/java/org/tikv/common/region/RegionStoreClient.java
Labels: status/LGT1, status/can-merge

#341 update pom version to 3.1.10-SNAPSHOT
  pom.xml
Labels: status/LGT1

#347 add the labeler github action
  .github/labeler.yml
  .github/pr-branch-labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-branch-labeler.yml
Labels: status/LGT2, status/can-merge

#349 refactor getRegionStoreClientBuilder to improve readability
  src/main/java/org/tikv/common/TiSession.java
Labels: status/LGT2, status/can-merge, component/common

#346 add Makeflie to simplify build/test/format tasks
  Makefile
Labels: status/LGT2, status/can-merge

#351 Add a flag to determine if TiFlash is enabled
  src/main/java/org/tikv/common/ConfigUtils.java
  src/main/java/org/tikv/common/PDClient.java
  src/main/java/org/tikv/common/TiConfiguration.java
  src/test/java/org/tikv/common/TiConfigurationTest.java
Labels: status/LGT2, status/can-merge, component/common
