Repository tikv/client-java, pull requests merged in 2021-06, with the labels that each got.

#183 Add request retry number metrics for client
  src/main/java/org/tikv/common/policy/RetryPolicy.java
Labels: needs-cherry-pick-3.1, status/LGT1

#185 fix error on new ci
  .ci/integration_test.groovy
Labels: status/LGT1

#174 Add CDCClient to client-java with a few tiny changes for TiFlink
  src/main/java/org/tikv/cdc/CDCClient.java
  src/main/java/org/tikv/cdc/CDCConfig.java
  src/main/java/org/tikv/cdc/CDCEvent.java
  src/main/java/org/tikv/cdc/RegionCDCClient.java
  src/main/java/org/tikv/common/codec/TableCodec.java
  src/main/java/org/tikv/common/codec/TableCodecV1.java
  src/main/java/org/tikv/common/codec/TableCodecV2.java
  src/main/java/org/tikv/txn/TwoPhaseCommitter.java
Labels: status/LGT2

#186 improve build scripts
  scripts/proto.sh
  shell.nix
Labels: status/LGT1, status/can-merge

#182 Fix pd retry not recovered for 60s
  src/main/java/org/tikv/common/PDClient.java
  src/main/java/org/tikv/common/operation/PDErrorHandler.java
  src/test/java/org/tikv/common/PDMockServer.java
Labels: needs-cherry-pick-3.1, status/LGT1, status/can-merge

#190 fix build issue in `nix-shell --pure`
  shell.nix
Labels: status/LGT1, status/can-merge

#191 rawclient: add batch scan keys
  src/main/java/org/tikv/raw/RawKVClient.java
  src/test/java/org/tikv/raw/RawKVClientTest.java
Labels: status/LGT1, status/can-merge

#196 refactor kverrorhandler
  src/main/java/org/tikv/common/operation/KVErrorHandler.java
  src/main/java/org/tikv/common/operation/RegionErrorHandler.java
  src/main/java/org/tikv/common/region/RegionStoreClient.java
Labels: status/LGT1

#199 Fix scan exception when the start key is empty
  src/main/java/org/tikv/common/operation/iterator/RawScanIterator.java
  src/main/java/org/tikv/common/operation/iterator/ScanIterator.java
  src/main/java/org/tikv/raw/RawKVClient.java
  src/test/java/org/tikv/raw/RawKVClientTest.java
Labels: needs-cherry-pick-3.1, status/LGT2

#192 Add CompareAndSet for RawClient and make Get returns Optional
  .ci/integration_test.groovy
  .gitignore
  config/tikv.toml
  pom.xml
  src/main/java/org/tikv/common/exception/RawCASConflictException.java
  src/main/java/org/tikv/common/region/RegionStoreClient.java
  src/main/java/org/tikv/raw/RawKVClient.java
  src/test/java/org/tikv/common/RegionStoreClientTest.java
  src/test/java/org/tikv/raw/RawKVClientTest.java
Labels: status/LGT2, status/can-merge

#198 Support grpc forward
  pom.xml
  src/main/java/org/tikv/cdc/CDCClient.java
  src/main/java/org/tikv/common/ConfigUtils.java
  src/main/java/org/tikv/common/PDClient.java
  src/main/java/org/tikv/common/TiConfiguration.java
  src/main/java/org/tikv/common/TiSession.java
  src/main/java/org/tikv/common/operation/RegionErrorHandler.java
  src/main/java/org/tikv/common/operation/iterator/ConcreteScanIterator.java
  src/main/java/org/tikv/common/operation/iterator/DAGIterator.java
  src/main/java/org/tikv/common/region/AbstractRegionStoreClient.java
  src/main/java/org/tikv/common/region/RegionErrorReceiver.java
  src/main/java/org/tikv/common/region/RegionManager.java
  src/main/java/org/tikv/common/region/RegionStoreClient.java
  src/main/java/org/tikv/common/region/TiRegion.java
  src/main/java/org/tikv/common/region/TiStore.java
  src/main/java/org/tikv/common/region/UnreachableStoreChecker.java
  src/main/java/org/tikv/common/util/RangeSplitter.java
  src/main/java/org/tikv/txn/AbstractLockResolverClient.java
  src/main/java/org/tikv/txn/LockResolverClientV2.java
  src/main/java/org/tikv/txn/LockResolverClientV3.java
  src/main/java/org/tikv/txn/LockResolverClientV4.java
  src/main/java/org/tikv/txn/TTLManager.java
  src/main/java/org/tikv/txn/TwoPhaseCommitter.java
  src/main/java/org/tikv/txn/TxnKVClient.java
  src/main/java/org/tikv/txn/type/BatchKeys.java
  src/main/java/org/tikv/txn/type/GroupKeyResult.java
  src/test/java/org/tikv/common/MockServerTest.java
  src/test/java/org/tikv/common/RegionManagerTest.java
  src/test/java/org/tikv/common/RegionStoreClientTest.java
Labels: status/LGT2

#204 update pom version to 3.2.0-SNAPSHOT
  pom.xml
Labels: status/LGT1, status/can-merge

#203 pd-client grpc forward
  src/main/java/org/tikv/common/AbstractGRPCClient.java
  src/main/java/org/tikv/common/PDClient.java
  src/main/java/org/tikv/common/ReadOnlyPDClient.java
  src/main/java/org/tikv/common/TiConfiguration.java
  src/main/java/org/tikv/common/TiSession.java
  src/main/java/org/tikv/common/operation/PDErrorHandler.java
  src/main/java/org/tikv/common/operation/RegionErrorHandler.java
  src/main/java/org/tikv/common/region/AbstractRegionStoreClient.java
  src/main/java/org/tikv/common/region/RegionManager.java
  src/main/java/org/tikv/common/region/UnreachableStoreChecker.java
  src/main/java/org/tikv/raw/RawKVClient.java
  src/test/java/org/tikv/common/PDClientTest.java
Labels: needs-cherry-pick-3.1, status/LGT1, status/can-merge

#207 fix not stop scheduler
  src/main/java/org/tikv/common/TiSession.java
  src/main/java/org/tikv/common/region/RegionManager.java
Labels: needs-cherry-pick-3.1, status/LGT1

#171 Support select replica with rich meta data
  pom.xml
  src/main/java/org/tikv/common/DefaultHostMapping.java
  src/main/java/org/tikv/common/HostMapping.java
  src/main/java/org/tikv/common/PDClient.java
  src/main/java/org/tikv/common/ReadOnlyPDClient.java
  src/main/java/org/tikv/common/TiConfiguration.java
  src/main/java/org/tikv/common/TiSession.java
  src/main/java/org/tikv/common/region/RegionManager.java
  src/main/java/org/tikv/common/region/RegionStoreClient.java
  src/main/java/org/tikv/common/region/TiRegion.java
  src/main/java/org/tikv/common/replica/FollowerReplicaSelector.java
  src/main/java/org/tikv/common/replica/LeaderFollowerReplicaSelector.java
  src/main/java/org/tikv/common/replica/LeaderReplicaSelector.java
  src/main/java/org/tikv/common/replica/Region.java
  src/main/java/org/tikv/common/replica/ReplicaSelector.java
  src/main/java/org/tikv/common/replica/Store.java
  src/test/java/org/tikv/common/MockServerTest.java
  src/test/java/org/tikv/common/PDClientTest.java
  src/test/java/org/tikv/common/RegionManagerTest.java
  src/test/java/org/tikv/common/RegionStoreClientTest.java
  src/test/java/org/tikv/txn/ReplicaReadTest.java
Labels: status/LGT2, status/can-merge

#213 Refactor RawKVClient CAS API
  README.md
  src/main/java/org/tikv/common/ConfigUtils.java
  src/main/java/org/tikv/common/TiConfiguration.java
  src/main/java/org/tikv/common/region/RegionStoreClient.java
  src/main/java/org/tikv/raw/RawKVClient.java
  src/test/java/org/tikv/raw/CASTest.java
  src/test/java/org/tikv/raw/RawKVClientTest.java
Labels: status/LGT2, status/can-merge

#214 support putAtomic and deleteAtomic API
  src/main/java/org/tikv/common/region/RegionStoreClient.java
  src/main/java/org/tikv/raw/RawKVClient.java
Labels: status/LGT1, status/can-merge

#215 Update document for v3.1.0
  README.md
Labels: needs-cherry-pick-3.1

#220 Support metrics with multiple TiSessions with the same port
  README.md
  metrics/grafana/client_java_summary.json
  src/main/java/org/tikv/common/MetricsServer.java
  src/main/java/org/tikv/common/TiSession.java
  src/test/java/org/tikv/raw/MetricsTest.java
Labels: needs-cherry-pick-3.1, status/LGT1, status/can-merge

#222 Support metrics with multiple TiSessions with the same port (#220)
  README.md
  metrics/grafana/client_java_summary.json
  src/main/java/org/tikv/common/MetricsServer.java
  src/main/java/org/tikv/common/TiSession.java
  src/test/java/org/tikv/raw/MetricsTest.java
Labels: status/LGT1, type/3.1-cherry-pick

#223 Forward request by store
  src/main/java/org/tikv/common/AbstractGRPCClient.java
  src/main/java/org/tikv/common/ConfigUtils.java
  src/main/java/org/tikv/common/PDClient.java
  src/main/java/org/tikv/common/TiConfiguration.java
  src/main/java/org/tikv/common/TiSession.java
  src/main/java/org/tikv/common/operation/RegionErrorHandler.java
  src/main/java/org/tikv/common/region/AbstractRegionStoreClient.java
  src/main/java/org/tikv/common/region/RegionManager.java
  src/main/java/org/tikv/common/region/RegionStoreClient.java
  src/main/java/org/tikv/common/region/TiRegion.java
  src/main/java/org/tikv/common/region/TiStore.java
  src/main/java/org/tikv/common/region/UnreachableStoreChecker.java
  src/main/java/org/tikv/raw/RawKVClient.java
  src/test/java/org/tikv/common/MockServerTest.java
Labels: needs-cherry-pick-3.1, status/LGT1, status/can-merge
