Repository tikv/client-java, pull requests merged in 2021-05, with the labels that each got.

#169 return wrapped iterator for scan(RawKVClient)
  src/main/java/org/tikv/raw/RawKVClient.java
Labels: status/LGT2, status/can-merge

#170 invalidate all region cache on store when store id not found
  src/main/java/org/tikv/common/region/RegionManager.java
Labels: status/LGT1, status/can-merge

#173 invalidate all region cache on store when store id not found (#170)
  src/main/java/org/tikv/common/region/RegionManager.java
Labels: status/LGT1

#172 Fix potential concurrent call when backoff
  src/main/java/org/tikv/common/exception/RegionException.java
  src/main/java/org/tikv/common/operation/KVErrorHandler.java
  src/main/java/org/tikv/common/util/Batch.java
Labels: needs-cherry-pick-3.1
