Repository tikv/client-java, pull requests merged in 2022-06, with the labels that each got.

#575 [to #555] enable api v2
  dev/proto.sh
  src/main/java/org/tikv/common/ConfigUtils.java
  src/main/java/org/tikv/common/PDClient.java
  src/main/java/org/tikv/common/ReadOnlyPDClient.java
  src/main/java/org/tikv/common/StoreVersion.java
  src/main/java/org/tikv/common/TiConfiguration.java
  src/main/java/org/tikv/common/TiSession.java
  src/main/java/org/tikv/common/apiversion/CodecUtils.java
  src/main/java/org/tikv/common/apiversion/RequestKeyCodec.java
  src/main/java/org/tikv/common/apiversion/RequestKeyV1Codec.java
  src/main/java/org/tikv/common/apiversion/RequestKeyV1RawCodec.java
  src/main/java/org/tikv/common/apiversion/RequestKeyV1TxnCodec.java
  src/main/java/org/tikv/common/apiversion/RequestKeyV2Codec.java
  src/main/java/org/tikv/common/apiversion/RequestKeyV2RawCodec.java
  src/main/java/org/tikv/common/apiversion/RequestKeyV2TxnCodec.java
  src/main/java/org/tikv/common/importer/ImporterClient.java
  src/main/java/org/tikv/common/operation/KVErrorHandler.java
  src/main/java/org/tikv/common/operation/RegionErrorHandler.java
  src/main/java/org/tikv/common/operation/iterator/RawScanIterator.java
  src/main/java/org/tikv/common/region/AbstractRegionStoreClient.java
  src/main/java/org/tikv/common/region/RegionStoreClient.java
  src/main/java/org/tikv/common/region/TiRegion.java
  src/main/java/org/tikv/txn/AbstractLockResolverClient.java
  src/main/java/org/tikv/txn/Lock.java
  src/main/java/org/tikv/txn/LockResolverClientV4.java
  src/test/java/org/tikv/BaseRawKVTest.java
  src/test/java/org/tikv/BaseTxnKVTest.java
  src/test/java/org/tikv/common/ApiVersionTest.java
  src/test/java/org/tikv/common/KVMockServer.java
  src/test/java/org/tikv/common/PDClientV2MockTest.java
  src/test/java/org/tikv/common/PDMockServer.java
  src/test/java/org/tikv/common/PDMockServerTest.java
  src/test/java/org/tikv/common/RegionErrorTest.java
  src/test/java/org/tikv/common/RegionStoreClientTest.java
  src/test/java/org/tikv/common/StoreConfig.java
  src/test/java/org/tikv/common/TiConfigurationTest.java
  src/test/java/org/tikv/common/apiversion/RequestKeyCodecTest.java
  src/test/java/org/tikv/common/importer/RawKVIngestTest.java
  src/test/java/org/tikv/raw/RawKVClientTest.java
Labels: status/can-merge, component/common, component/txnkv

#607 [close #606]: change the default prefix for API v2
  src/main/java/org/tikv/common/apiversion/RequestKeyV2Codec.java
  src/main/java/org/tikv/common/apiversion/RequestKeyV2RawCodec.java
  src/main/java/org/tikv/common/apiversion/RequestKeyV2TxnCodec.java
  src/test/java/org/tikv/common/apiversion/RequestKeyCodecTest.java
Labels: status/LGT1

#609 fix TLS reload doesn't work after delete cert file
  src/main/java/org/tikv/common/util/ChannelFactory.java
  src/test/java/org/tikv/common/ChannelFactoryTest.java
Labels: status/LGT2

#611 [close #610] [to #590] add docs for api v2 and tls reload
  docs/src/administration/configuration.md
  docs/src/examples/rawkv.md
Labels: status/LGT2, needs-cherry-pick-3.3

#617 [close #616] check store version while using API V2
  src/main/java/org/tikv/common/TiSession.java
  src/main/java/org/tikv/common/Version.java
  src/test/java/org/tikv/common/ApiVersionTest.java
  src/test/java/org/tikv/common/MockThreeStoresTest.java
  src/test/java/org/tikv/common/PDClientV2MockTest.java
  src/test/java/org/tikv/common/PDMockServer.java
Labels: status/LGT2, status/can-merge, component/common, needs-cherry-pick-3.3

#618 [close #619] Shutdown recycler when closing ChannelFactory to avoid resource leak
  src/main/java/org/tikv/common/util/ChannelFactory.java
  src/test/java/org/tikv/common/ChannelFactoryTest.java
Labels: status/LGT1, needs-cherry-pick-3.3

#624 [fix #623] region may be missed
  src/main/java/org/tikv/common/operation/iterator/ConcreteScanIterator.java
  src/main/java/org/tikv/common/operation/iterator/RawScanIterator.java
  src/main/java/org/tikv/common/operation/iterator/ScanIterator.java
  src/main/java/org/tikv/common/region/RegionStoreClient.java
Labels: status/LGT2
