Repository tikv/client-java, pull requests merged in 2022-01, with the labels that each got.

#463 [to #462] add version constraint for rawkv tests
  pom.xml
  src/test/java/org/tikv/BaseRawKVTest.java
  src/test/java/org/tikv/common/PDClientIntegrationTest.java
  src/test/java/org/tikv/common/importer/RawKVIngestTest.java
  src/test/java/org/tikv/common/importer/RegionSplitTest.java
Labels: status/LGT2, status/can-merge

#468 [close #467] clean pb repo and target while make clean
  Makefile
Labels: status/LGT1

#466 [close #465] implement AutoClosable for TwoPhaseCommitter
  src/main/java/org/tikv/txn/TwoPhaseCommitter.java
  src/test/java/org/tikv/txn/TwoPhaseCommitterTest.java
Labels: status/LGT2, status/can-merge, component/txnkv

#479 [close #435] SimpleDateFormat is not threadsafe
  src/main/java/org/tikv/common/log/SlowLogImpl.java
  src/main/java/org/tikv/common/log/SlowLogSpanImpl.java
Labels: needs-cherry-pick-3.1, status/LGT2

#481 [to #480] add grpc and netty source code
  .github/license-checker.yml
  pom.xml
  src/main/java/io/grpc/internal/ClientCallImpl.java
  src/main/java/io/grpc/netty/NettyChannelBuilder.java
  src/main/java/io/grpc/netty/NettyClientHandler.java
  src/main/java/io/grpc/netty/NettyClientStream.java
  src/main/java/io/grpc/netty/WriteQueue.java
  src/main/java/io/grpc/stub/ClientCalls.java
  src/main/java/io/netty/channel/socket/nio/NioSocketChannel.java
  src/main/java/io/netty/handler/codec/http2/DefaultHttp2FrameWriter.java
  src/main/java/io/netty/handler/codec/http2/DefaultHttp2RemoteFlowController.java
  src/main/java/io/netty/handler/codec/http2/Http2ConnectionHandler.java
  src/main/java/io/netty/handler/codec/http2/Http2OutboundFrameLogger.java
Labels: needs-cherry-pick-3.1, status/LGT2

#484 [close #480] add metrics inside grpc and netty
  src/main/java/io/grpc/internal/ClientCallImpl.java
  src/main/java/io/grpc/netty/NettyClientHandler.java
  src/main/java/io/grpc/netty/NettyClientStream.java
  src/main/java/io/grpc/netty/WriteQueue.java
  src/main/java/io/grpc/stub/ClientCalls.java
  src/main/java/io/netty/channel/socket/nio/NioSocketChannel.java
  src/main/java/io/netty/handler/codec/http2/DefaultHttp2FrameWriter.java
  src/main/java/io/netty/handler/codec/http2/DefaultHttp2RemoteFlowController.java
  src/main/java/io/netty/handler/codec/http2/Http2ConnectionHandler.java
  src/main/java/io/netty/handler/codec/http2/Http2OutboundFrameLogger.java
  src/main/java/org/tikv/common/PDClient.java
  src/main/java/org/tikv/common/policy/RetryPolicy.java
  src/main/java/org/tikv/common/region/AbstractRegionStoreClient.java
  src/main/java/org/tikv/common/region/RegionManager.java
  src/main/java/org/tikv/common/region/RegionStoreClient.java
  src/main/java/org/tikv/common/util/ConcreteBackOffer.java
  src/main/java/org/tikv/common/util/HistogramUtils.java
  src/main/java/org/tikv/raw/RawKVClient.java
  src/main/java/org/tikv/raw/SmartRawKVClient.java
Labels: needs-cherry-pick-3.1, status/LGT2, component/common, component/rawkv

#491 [close #489 ] fix backoffer data race
  src/main/java/org/tikv/common/util/ConcreteBackOffer.java
  src/test/java/org/tikv/util/ConcreteBackOfferTest.java
Labels: needs-cherry-pick-3.1, status/LGT1

#490 [close #489 ] fix backoffer data race
  src/main/java/org/tikv/common/util/ConcreteBackOffer.java
  src/test/java/org/tikv/util/ConcreteBackOfferTest.java
Labels: status/LGT2

#487 [to #480] add netty mempool metrics
  src/main/java/io/netty/buffer/PoolArena.java
Labels: needs-cherry-pick-3.1, status/LGT1

#496 [close #497] let JVM ClassLoader load gRPC error related classes during warmup
  pom.xml
  src/main/java/org/tikv/common/TiSession.java
  src/test/java/org/tikv/raw/WarmupTest.java
Labels: needs-cherry-pick-3.1, status/LGT1, component/common

#493 [to #480] update grafana for netty grpc metrics
  metrics/grafana/client_java_summary.json
Labels: needs-cherry-pick-3.1, status/LGT2
