Repository tikv/client-java, pull requests merged in 2022-02, with the labels that each got.

#476 [to #426] add maven site with spotbugs
  .github/workflows/gh-pages.yml
  dev/spotbugs-include.xml
  pom.xml
Labels: status/LGT2, status/can-merge

#485 [to #477] Change SlowLog interface to align with tracing
  scripts/proto.sh
  src/main/java/org/tikv/common/ConfigUtils.java
  src/main/java/org/tikv/common/TiConfiguration.java
  src/main/java/org/tikv/common/log/SlowLog.java
  src/main/java/org/tikv/common/log/SlowLogEmptyImpl.java
  src/main/java/org/tikv/common/log/SlowLogImpl.java
  src/main/java/org/tikv/common/log/SlowLogSpan.java
  src/main/java/org/tikv/common/log/SlowLogSpanEmptyImpl.java
  src/main/java/org/tikv/common/log/SlowLogSpanImpl.java
  src/main/java/org/tikv/common/policy/RetryPolicy.java
  src/main/java/org/tikv/common/region/AbstractRegionStoreClient.java
  src/main/java/org/tikv/common/region/RegionStoreClient.java
  src/main/java/org/tikv/common/util/ConcreteBackOffer.java
  src/main/java/org/tikv/raw/RawKVClient.java
  src/test/java/org/tikv/common/log/SlowLogImplTest.java
Labels: status/can-merge, component/common, component/rawkv, status/LGT3

#508 [close #509] update google-gson to 2.8.9
  pom.xml
Labels: needs-cherry-pick-3.1, status/LGT1

#512 [close #511] add LockSupport metrics
  metrics/grafana/client_java_summary.json
  src/main/java/io/grpc/stub/ClientCalls.java
Labels: needs-cherry-pick-3.1, status/LGT2, status/can-merge

#507 [to #348] add javadoc in maven site reporting
  pom.xml
Labels: status/LGT2, status/can-merge

#504 [to #426] update maven site info in README.md
  README.md
Labels: status/LGT2, status/can-merge

#503 [to #423] add some guideline for triage critical bugs
  docs/src/SUMMARY.md
  docs/src/contribution/bug-severity-guide.md
Labels: status/LGT2, status/can-merge

#458 [close #459] use target store context instead of proxy store context when calling grpc forward
  src/main/java/org/tikv/common/region/AbstractRegionStoreClient.java
Labels: needs-cherry-pick-3.1, status/LGT2, status/can-merge

#506 [close #505] add xml formatter and check in CI
  .ci/build.groovy
  dev/intellij-java-google-style.xml
  dev/javafmt
  dev/spotbugs-include.xml
  pom.xml
Labels: status/LGT2, status/can-merge

#523 [close #459] use target store context instead of proxy store context …
  src/main/java/org/tikv/common/region/AbstractRegionStoreClient.java
Labels: type/3.1-cherry-pick

#502 [close #415] add spotbugs in github actions
  .github/workflows/spotbugs.yml
  dev/spotbugs-include.xml
  pom.xml
Labels: status/LGT2, status/can-merge

#521 [close #520] add communication method in README
  README.md
Labels: status/LGT2, status/can-merge

#524 [to #526] Add codecov on Github Action
  .ci/build.groovy
  .ci/build.sh
  .ci/integration_test.groovy
  .ci/test.sh
  .github/config/pd.toml
  .github/config/tikv_rawkv.toml
  .github/config/tikv_txnkv.toml
  .github/workflows/ci.yml
  README.md
  config/tikv_rawkv.toml
  config/tikv_txnkv.toml
  pom.xml
Labels: needs-cherry-pick-3.1, status/LGT2, component/config

#529 [close #528] add workflows to check staleness and PR title
  .github/workflows/labeler.yml
  .github/workflows/pr-title-checker.yml
  .github/workflows/stale-checker.yml
Labels: status/LGT2, status/can-merge

#518 [to #439] introduce MockThreeStoresTest to onStoreUnreachable
  src/main/java/org/tikv/common/TiSession.java
  src/main/java/org/tikv/common/region/AbstractRegionStoreClient.java
  src/main/java/org/tikv/common/region/TiRegion.java
  src/test/java/org/tikv/common/KVMockServer.java
  src/test/java/org/tikv/common/MockServerTest.java
  src/test/java/org/tikv/common/MockThreeStoresTest.java
  src/test/java/org/tikv/common/PDClientMockTest.java
  src/test/java/org/tikv/common/PDMockServer.java
  src/test/java/org/tikv/common/PDMockServerTest.java
  src/test/java/org/tikv/common/RegionManagerTest.java
  src/test/java/org/tikv/common/SeekLeaderStoreTest.java
  src/test/java/org/tikv/common/SeekProxyStoreTest.java
Labels: status/LGT2, component/common

#527 [to #421] add a python script to analyze slow log stats
  .github/license-checker.yml
  dev/README.md
  dev/proto.sh
  pom.xml
  scripts/rstats.py
Labels: needs-cherry-pick-3.1, status/LGT2

#539 [close #542] update protobuf version to 3.16.1
  pom.xml
Labels: needs-cherry-pick-3.1, status/LGT2, needs-cherry-pick-3.2
