Repository tikv/client-java, pull requests merged in 2022-12, with the labels that each got.

#667 [close #666] Fix some issues in example and README
  README.md
  docs/src/examples/quick-start.md
  docs/src/examples/rawkv.md
  docs/src/examples/txnkv.md
Labels: status/LGT1

#681 [close #686] Delete stale-checker.yml
  .github/workflows/stale-checker.yml
Labels: status/can-merge

#664 [close #663] Avoid overflow
  src/main/java/org/tikv/common/region/RegionManager.java
Labels: status/LGT2, status/can-merge, status/stale, needs-cherry-pick-3.3

#678 [close #679] Let ColumnRef case insensitive
  src/main/java/org/tikv/common/expression/ColumnRef.java
Labels: status/LGT1, status/can-merge, needs-cherry-pick-3.3

#685 [close #684] Fix batch get blocked by write
  src/main/java/org/tikv/txn/KVClient.java
  src/test/java/org/tikv/txn/BatchGetTest.java
  src/test/java/org/tikv/txn/TXNTest.java
Labels: component/txnkv, needs-cherry-pick-3.3

#670 [to #656] Fix scan with lock
  src/main/java/org/tikv/common/region/RegionStoreClient.java
  src/test/java/org/tikv/common/KVMockServer.java
  src/test/java/org/tikv/common/MockServerTest.java
  src/test/java/org/tikv/common/PDClientMockTest.java
  src/test/java/org/tikv/common/PDMockServer.java
  src/test/java/org/tikv/common/RegionStoreClientTest.java
Labels: needs-cherry-pick-3.3

#694 [close #693] Add test for RangeSplitter
  src/test/java/org/tikv/common/MockRegionManager.java
  src/test/java/org/tikv/util/RangeSplitterTest.java
Labels: needs-cherry-pick-3.3

#704 [close #699] Rebase release 3.3.1.11
  pom.xml
  src/main/java/io/grpc/internal/ClientCallImpl.java
  src/main/java/io/netty/buffer/PoolArena.java
  src/main/java/org/tikv/common/AbstractGRPCClient.java
  src/main/java/org/tikv/common/PDClient.java
  src/main/java/org/tikv/common/operation/RegionErrorHandler.java
  src/main/java/org/tikv/common/util/BackOffFunction.java
  src/main/java/org/tikv/common/util/ConcreteBackOffer.java
  src/test/java/org/tikv/common/TsoBatchUsedUpTest.java
Labels: component/common

#708 [close #699] Batch pick from release-3.1.1.11
  pom.xml
  shell.nix
  src/main/java/io/grpc/internal/ClientCallImpl.java
  src/main/java/io/netty/buffer/PoolArena.java
  src/main/java/org/tikv/common/AbstractGRPCClient.java
  src/main/java/org/tikv/common/PDClient.java
  src/main/java/org/tikv/common/operation/RegionErrorHandler.java
  src/main/java/org/tikv/common/util/BackOffFunction.java
  src/main/java/org/tikv/common/util/ConcreteBackOffer.java
  src/test/java/org/tikv/common/TsoBatchUsedUpTest.java
Labels: status/LGT1, component/common
