Repository tikv/client-java, pull requests merged in 2022-03, with the labels that each got.

#541 [close #540] rawkv: fix scan return empty set while exist empty key
  src/main/java/org/tikv/common/operation/iterator/RawScanIterator.java
  src/main/java/org/tikv/common/operation/iterator/ScanIterator.java
  src/test/java/org/tikv/raw/RawKVClientTest.java
Labels: needs-cherry-pick-3.1, status/LGT2, status/can-merge, needs-cherry-pick-3.2

#548 [close #540] rawkv: fix scan return empty set while exist empty key (#541)
  src/main/java/org/tikv/common/operation/iterator/RawScanIterator.java
  src/main/java/org/tikv/common/operation/iterator/ScanIterator.java
  src/test/java/org/tikv/raw/RawKVClientTest.java
Labels: status/LGT2

#557 [to #556] slowlog: attach cluster_id and pd_addresses to slow log properties
  src/main/java/org/tikv/common/PDClient.java
  src/main/java/org/tikv/common/log/SlowLog.java
  src/main/java/org/tikv/common/log/SlowLogEmptyImpl.java
  src/main/java/org/tikv/common/log/SlowLogImpl.java
  src/main/java/org/tikv/raw/RawKVClient.java
  src/test/java/org/tikv/common/log/SlowLogImplTest.java
Labels: needs-cherry-pick-3.1, status/LGT2, component/common, component/rawkv, needs-cherry-pick-3.2

#532 [close #415] CI: enable spotbugs for pull request for master or push to master
  .github/workflows/spotbugs.yml
Labels: status/LGT2

#551 [close #550] rawkv: fix seek leader/proxy store early abort
  src/main/java/org/tikv/common/region/AbstractRegionStoreClient.java
  src/main/java/org/tikv/common/region/RegionManager.java
  src/test/java/org/tikv/common/PDClientMockTest.java
  src/test/java/org/tikv/common/PDMockServerTest.java
  src/test/java/org/tikv/common/SeekLeaderStoreTest.java
Labels: needs-cherry-pick-3.1, status/LGT2, status/can-merge, needs-cherry-pick-3.2

#563 [close #519] remove cdc and br releated components
  pom.xml
  src/main/java/org/tikv/br/BackupDecoder.java
  src/main/java/org/tikv/br/BackupMetaDecoder.java
  src/main/java/org/tikv/br/KVDecoder.java
  src/main/java/org/tikv/br/RawKVDecoderV1.java
  src/main/java/org/tikv/br/SSTDecoder.java
  src/main/java/org/tikv/br/SSTIterator.java
  src/main/java/org/tikv/cdc/CDCClient.java
  src/main/java/org/tikv/cdc/CDCConfig.java
  src/main/java/org/tikv/cdc/CDCEvent.java
  src/main/java/org/tikv/cdc/RegionCDCClient.java
  src/test/java/org/tikv/br/BackupDecoderTest.java
  src/test/resources/sst/1_2_2_7154800cc311f03afd1532e961b9a878dfbb119b104cf4daad5d0c7c0eacb502_1633919546277_default.sst
  src/test/resources/sst/4_8_2_9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08_1633919546278_default.sst
  src/test/resources/sst/backupmeta
  src/test/resources/sst_ttl/1_2_2_7154800cc311f03afd1532e961b9a878dfbb119b104cf4daad5d0c7c0eacb502_1634199092593_default.sst
  src/test/resources/sst_ttl/5_8_2_9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08_1634199092587_default.sst
  src/test/resources/sst_ttl/backupmeta
Labels: status/LGT2, component/cdc, component/br

#471 [to #464] add unit tests for exported API of RawKVClient
  src/test/java/org/tikv/raw/RawKVClientTest.java
Labels: status/LGT2

#553 [close #552] delete Netty Allocator on grafana
  metrics/grafana/client_java_summary.json
Labels: needs-cherry-pick-3.1, status/LGT2, needs-cherry-pick-3.2

#571 [close #570] mockserver: fix unstable mock server cluster setup
  src/test/java/org/tikv/common/MockThreeStoresTest.java
  src/test/java/org/tikv/common/PDClientMockTest.java
  src/test/java/org/tikv/common/PDMockServer.java
  src/test/java/org/tikv/common/PDMockServerTest.java
  src/test/java/org/tikv/common/SeekLeaderStoreTest.java
  src/test/java/org/tikv/common/SeekProxyStoreTest.java
Labels: needs-cherry-pick-3.1, status/LGT2, needs-cherry-pick-3.2

#558 [to #556] metrics: attach cluster label to metrics
  metrics/grafana/client_java_summary.json
  src/main/java/org/tikv/common/AbstractGRPCClient.java
  src/main/java/org/tikv/common/KVClient.java
  src/main/java/org/tikv/common/PDClient.java
  src/main/java/org/tikv/common/ReadOnlyPDClient.java
  src/main/java/org/tikv/common/Snapshot.java
  src/main/java/org/tikv/common/StoreVersion.java
  src/main/java/org/tikv/common/TiSession.java
  src/main/java/org/tikv/common/importer/ImporterClient.java
  src/main/java/org/tikv/common/importer/SwitchTiKVModeClient.java
  src/main/java/org/tikv/common/log/SlowLog.java
  src/main/java/org/tikv/common/log/SlowLogEmptyImpl.java
  src/main/java/org/tikv/common/log/SlowLogImpl.java
  src/main/java/org/tikv/common/operation/iterator/ConcreteScanIterator.java
  src/main/java/org/tikv/common/policy/RetryPolicy.java
  src/main/java/org/tikv/common/region/AbstractRegionStoreClient.java
  src/main/java/org/tikv/common/region/RegionManager.java
  src/main/java/org/tikv/common/region/RegionStoreClient.java
  src/main/java/org/tikv/common/region/StoreHealthyChecker.java
  src/main/java/org/tikv/common/util/BackOffer.java
  src/main/java/org/tikv/common/util/ConcreteBackOffer.java
  src/main/java/org/tikv/raw/RawKVClient.java
  src/main/java/org/tikv/raw/RawKVClientBase.java
  src/main/java/org/tikv/raw/SmartRawKVClient.java
  src/main/java/org/tikv/service/failsafe/CircuitBreakerImpl.java
  src/main/java/org/tikv/txn/KVClient.java
  src/main/java/org/tikv/txn/TTLManager.java
  src/main/java/org/tikv/txn/TwoPhaseCommitter.java
  src/main/java/org/tikv/txn/TxnKVClient.java
  src/test/java/org/tikv/raw/RawKVClientTest.java
  src/test/java/org/tikv/service/failsafe/CircuitBreakerTest.java
Labels: needs-cherry-pick-3.1, status/LGT2, component/common, component/rawkv, component/txnkv, needs-cherry-pick-3.2

#573 [close #572] misc: fix syntax issues in github issue/pr templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: status/LGT2, status/can-merge

#538 [fix #537] fix convert byte[] to long error
  src/main/java/org/tikv/common/columnar/TiChunkColumnVector.java
  src/test/java/org/tikv/common/columnar/TiChunkColumnVectorTest.java
Labels: needs-cherry-pick-3.1, status/LGT1, needs-cherry-pick-3.2
